name: Issue Labeler

on:
  issues:
    types: [opened, edited]

permissions:
  contents: read
  issues: write

jobs:
  add-triage-label:
    runs-on: ubuntu-latest
    steps:
    - name: Add 'needs-triage' label
      uses: actions-ecosystem/action-add-labels@v1
      with:
        labels: needs-triage
